<!--========================= >> Angular2_MrCoder | my-content >> START >> =======-->
<!-- <div *ngIf='isVisible'>
    <div *ngFor='let item of dataList'>
        <ul>
            <li>{{item.ID}}</li>
            <li>{{item.Name}}</li>
        </ul>
    </div>
</div> -->
<!--========================= >> Angular2_MrCoder | my-content >> END >> =========-->

<!--========================= >> Angular2_DataBinding | my-content >> START >> =======-->
<!-- <div *ngIf='isVisible'>
    <div *ngFor='let item of imageList'>
        <ul>
            <img [src]='item.Url' style="width:200px; height:150px;">
        </ul>
    </div>
</div> -->
<!--========================= >> Angular2_DataBinding | my-content >> END >> =========-->

<!--========================= >> Angular2_Class_Extends | my-content >> START >> =======-->
<!-- <div *ngIf='childIsVisible'>
    <div *ngFor='let item of childImageList'>
        <ul>
            <img [src]='item.Url' style="width:200px; height:150px;">
        </ul>
    </div>
</div> -->
<!--========================= >> Angular2_Class_Extends | my-content >> END >> =========-->

<!--========================= >> Angular2_CRUD_Operations_Using_HTTP | my-content >> START >> =======-->
<!-- <div *ngIf='childIsVisible'>
    <table border="1" borderColor="#7f6000" cellPadding="3" cellMargin="0" style="border-collapse:collapse;text-align:center;">
        <tr>
            <th>Id</th>
            <th>Product Name</th>
        </tr>
        <tr *ngFor='let item of iProducts'>
            <td>{{item.ProductID}}</td>
            <td>{{item.ProductName}}</td>
        </tr>
    </table>
</div> -->
<!--========================= >> Angular2_CRUD_Operations_Using_HTTP | my-content >> END >> =========-->

<!--========================= >> Angular2_Routing | my-content >> START >> =======-->
<!-- <div *ngIf='childIsVisible'>
    <table border="1" borderColor="#7f6000" cellPadding="3" cellMargin="0" style="border-collapse:collapse;text-align:center;">
        <tr>
            <th>Id</th>
            <th>Product Name</th>
        </tr>
        <tr *ngFor='let item of iProducts'>
            <td>{{item.ProductID}}</td>
            <td>{{item.ProductName}}</td>
        </tr>
    </table>
</div> -->
<!--========================= >> Angular2_Routing | my-content >> END >> =========-->

<!--========================= >> Angular2_Navigation | my-content >> START >> =======-->
<div *ngIf='childIsVisible; else HideContent'>
    <div>&nbsp;</div>
    <table border="1" borderColor="#7f6000" cellPadding="3" cellMargin="0" style="border-collapse:collapse;text-align:center;">
        <tr>
            <th>Id</th>
            <th>Product Name</th>
        </tr>
        <tr *ngFor='let item of iProducts'>
            <td>{{item.ProductID}}</td>
            <td>{{item.ProductName}}</td>
        </tr>
    </table>
    <div>&nbsp;</div>
    <div>
        <div>Use Of Navigation,</div>
        <div>
            <ul title="Use Of Navigation">
                <li><a (click)="onBack()">Hide Content</a></li>
            </ul>
        </div>
    </div>
</div>
<ng-template #HideContent>
    <div>
        <div>Use Of Navigation,</div>
        <div>
            <ul title="Use Of Navigation">
                <li><a (click)="onBack()">Show Content</a></li>
            </ul>
        </div>
    </div>
</ng-template>
<!--========================= >> Angular2_Navigation | my-content >> END >> =========-->