<!--========================= >> Angular2_Templates | my-sign >> START >> =======-->
<!-- <div class='sign'>
    Hello Guys, <br/><br/>Content of AppComponent loaded successfully. <br/><br/>Do you like my work? If yes, then, Please visit my website <a target='_blank' href='http://mrcoder.in/'>{{website}}</a>.
    <span><br/><br/><br/>Thanks and Kind Regards,<br/><br/></span>
    <div class='sign-name'><strong>{{name}} |</strong> <span class='sign-des'>{{designation}}</span></div>
    <div>Cell/W'app : <span class='sign-Cell'><strong>{{cellNumber}}</strong></span></div>
    <div>Skype : <span class='sign-skype'><strong>{{skypeAddress}}</strong> ({{cellNumber}})</span></div>
    <div>Mail : <a target='_blank' href='mailto:mik@mrcoder.in'>{{mailAddress}}</a></div>
    <div>Website : <a target='_blank' href='http://mrcoder.in/'>{{website}}</a></div>
</div> -->
<!--========================= >> Angular2_Templates | my-sign >> END >> =========-->

<!--========================= >> Angular2_Directives | my-directive >> START >> =======-->
<!-- <div class='sign'>
    Hello Guys, <br/><br/>Content of AppComponent loaded successfully.
    <div *ngIf='isVisible'>
        <div *ngFor='let item of dataList'>
            <ul>
                <li>{{item.ID}}</li>
                <li>{{item.Name}}</li>
            </ul>
        </div>
    </div>
    <br/><br/>Do you like my work? If yes, then, Please visit my website <a target='_blank' href='http://mrcoder.in/'>{{website}}</a>.
    <span><br/><br/><br/>Thanks and Kind Regards,<br/><br/></span>
    <div class='sign-name'><strong>{{name}} |</strong> <span class='sign-des'>{{designation}}</span></div>
    <div>Cell/W'app : <span class='sign-Cell'><strong>{{cellNumber}}</strong></span></div>
    <div>Skype : <span class='sign-skype'><strong>{{skypeAddress}}</strong> ({{cellNumber}})</span></div>
    <div>Mail : <a target='_blank' href='mailto:mik@mrcoder.in'>{{mailAddress}}</a></div>
    <div>Website : <a target='_blank' href='http://mrcoder.in/'>{{website}}</a></div>
</div> -->
<!--========================= >> Angular2_Directives | my-directive >> END >> =========-->

<!--========================= >> Angular2_MrCoder | im-mrcoder >> START >> =======-->
<!-- <div class='sign'>
    Hello Guys, <br/><br/>Content of AppComponent loaded successfully.<br/><br/>
    <my-content></my-content>
    <br/>If you like my work, then, Please visit my website <a target='_blank' href='http://mrcoder.in/'>{{website}}</a>.
    <span><br/><br/>Thanks and Kind Regards,<br/><br/></span>
    <div class='sign-name'><strong>{{name}} |</strong> <span class='sign-des'>{{designation}}</span></div>
    <div>Cell/W'app : <span class='sign-Cell'><strong>{{cellNumber}}</strong></span></div>
    <div>Skype : <span class='sign-skype'><strong>{{skypeAddress}}</strong> ({{cellNumber}})</span></div>
    <div>Mail : <a target='_blank' href='mailto:mik@mrcoder.in'>{{mailAddress}}</a></div>
    <div>Website : <a target='_blank' href='http://mrcoder.in/'>{{website}}</a></div>
</div> -->
<!--========================= >> Angular2_MrCoder | im-mrcoder >> END >> =========-->

<!--========================= >> Angular2_Routing/Navigation | im-mrcoder >> START >> =======-->
<div class='sign'>
    Hello Guys, <br/><br/>Content of AppComponent loaded successfully.<br/><br/> Use Of Routing,
    <ul title="Use Of Routing">
        <li><a [routerLink]="['/Show']">Show Content</a></li>
        <li><a [routerLink]="['/Hide']">Hide Content</a></li>
    </ul>
    <router-outlet></router-outlet>
    <br/>If you like my work, then, Please visit my website <a target='_blank' href='http://mrcoder.in/'>{{website}}</a>.
    <span><br/><br/>Thanks and Kind Regards,<br/><br/></span>
    <div class='sign-name'><strong>{{name}} |</strong> <span class='sign-des'>{{designation}}</span></div>
    <div>Cell/W'app : <span class='sign-Cell'><strong>{{cellNumber}}</strong></span></div>
    <div>Skype : <span class='sign-skype'><strong>{{skypeAddress}}</strong> ({{cellNumber}})</span></div>
    <div>Mail : <a target='_blank' href='mailto:mik@mrcoder.in'>{{mailAddress}}</a></div>
    <div>Website : <a target='_blank' href='http://mrcoder.in/'>{{website}}</a></div>
</div>
<!--========================= >> Angular2_Routing/Navigation | im-mrcoder >> END >> =========-->