h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

.sign {
    background-color: rgb(255, 255, 255);
    color: #000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.sign-name {
    color: rgb(7, 55, 99);
    font-size: 18px !important;
}

.sign-des {
    color: rgb(7, 55, 99);
    font-size: 13px !important;
}

.sign-Cell {
    color: rgb(127, 96, 0);
    font-size: 13px !important;
}

.sign-skype {
    color: rgb(127, 96, 0);
    font-size: 13px !important;
}

a {
    color: rgb(89, 143, 222);
    cursor: pointer;
}